@import url('https://fonts.googleapis.com/css2?family=Allison&family=Kaisei+Tokumin&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
  border: 2px solid white;
  border-radius: 20px;
  width: 90%;
  margin-left: 65px;
  position: absolute;
  top: 40px;
  font-family: 'Kaisei Tokumin', serif;
}
.title{
    margin-left: 600px;
    color: white;
    padding-bottom: 10px;
}
.img1{
    width: 100%;
    height: 550px;
    transform: skewY(-4deg);
    margin-top: -80px;
}
.img{
    width: 100%;
    height: 400px;
    margin-top: -15px;
    transform: skewY(-4deg);
}
.fa-mouse{
       font-size: 40px;   
}
h1::first-letter{
    font-family: 'Allison', cursive;
    font-size: 150px;
}
.text1{
    letter-spacing: 10px;
    text-align: center;
    color: white;
}
.text2{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
}
.text3{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 50px;
}
.text4{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
}
.text5{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    padding-top: 110px;
    color: white;
}
.text6{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}
.text7{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    color: lightpink;
}
.text8{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    padding-top: 55px;
}
.text9{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
.text10{
    position: relative;
    z-index: 1;
    margin-top: 30px;
    background-color: rgb(202, 199, 202);
    width: 100%;
    height: 200px;

}
.text10::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewY(-4deg);
    bottom: 100px;
    background-color: rgb(202, 199, 202);
}
.dot{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding-bottom: 10px;
}





